<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Omage Project</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
            <nav class="navbar navbar-expand-md navbar-collapse navbar-light color-set">
                <a class="navbar-brand" href="#">
                    <img src="logo omage.png" alt="" class="omage-logo">
                </a>              
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#omage-project"><h4>Home</h4></a>
                        </li>    
                        <li class="nav-item">
                            <a class="nav-link" href="#mission"><h4>Mindset</h4></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#app"><h4>Whitepaper</h4></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#mobile-app"><h4>Mobile App</h4></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#donate"><h4>Donate</h4></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login"><h4>Login</h4></a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="background-image">                
                <h1 style="text-align: center; margin: 0%; padding-top: 50px;">OMAGE PROJECT</h1>
            </div>
        <br>
        <div class="main-title">
            <h1 class="fade sm-title"><b>Omage Project</b></h1>
            <h1 class="back-title"><b>OMAGE</b></h1>
        </div>
        <div class="container">
            <div class="row description fade">
                <div class="col-lg-7 description-text">
                    <p>
                        OMAGE , emerges as a tool based on blockchain and with characteristics of a mobile wallet app but with new functions that range from encouraging savings by its DeFi platform, giving usability and strength of our hand tool with unmatched support to the LGBTIQ+ community.
                        OMAGE is providing solutions mainly to the LGBTIQ+ community in the financial area, micro payments and even their physical-psychological well-being.
                    </p>
                </div>
                <div class="col-lg-5 image">
                    <img src="omage3.png" alt="">
                </div>
            </div>
            <div class="row" id="mission">
                <div class="col-md-6 fade">
                    <h2 class="subtitle">Mission</h2>
                    <div class="smimage"><img src="omage4.png" alt=""></div>
                    <p>
                        Primarily provide the LGBTIQ+ community with a platform based on blockchain and the use of it, through which they can be included in the financial field, achieve effective solutions in the management, control and administration of personal finances, improve interconnection among the community for collective help and give you access to loans and new forms of DeFi savings.
                    </p>
                </div>
                <div class="col-md-6 fade">
                    <h2 class="subtitle">Mindset</h2>
                    <div class="smimage"><img src="omage5.png" alt=""></div>
                    <p>
                        Consolidate ourselves as the tool that will provide the best, effective, safe and fast solutions to our users in the financial sector to contribute to their personal development so that they can access a better quality of life, making financial management more accessible, affordable. , simple and fast .
                    </p>
                </div>
                <div class="main-title">
                    <h1 class="fade sm-title"><b>OMA</b></h1>
                    <h1 class="back-title"><b>TOKEN</b></h1>
                </div>
                <p class="fade">OMAGE Platform has the ERC20 token of OMAGE (<b>OMA</b>), which is our token to operate in and offer:</p>
                <div class="col-12 row oma">
                    <div class="lgbt-flag"></div>
                    <div class="col-md-6 info-list">
                        <ul class="list-group">
                            <li class="list-group-item fade"> Omage Wallet - Mobile Wallet.</li>
                            <li class="list-group-item fade">Low cost in <b>commissions</b> in its operations.</li>
                            <li class="list-group-item fade">Debits.</li>
                            <li class="list-group-item fade">Possibility of transacting any amount.</li>
                            <li class="list-group-item fade">Financial freedom where you will have absolute control of your digital assets.</li>
                            <li class="list-group-item fade">Friendly system that will make it easier to use.</li>
                        </ul>
                    </div>
                    <div class="col-md-6 info-list">
                        <ul class="list-group">
                            <li class="list-group-item fade">Security guarantee.</li>
                            <li class="list-group-item fade">Be able to carry out <strong>P2P</strong> operations with your local currency.</li>
                            <li class="list-group-item fade">Possibility of saving in our cryptocurrency.</li>
                            <li class="list-group-item fade">Interconnection with <strong>DeFi</strong> Platform.</li>
                            <li class="list-group-item fade">Interconnectivity between users from different countries.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 fade">
                    <p>
                        In this sense, OMAGE is not only a secure platform, but also provides effective solutions to financial difficulties in particular to our LGBTIQ+ community, in search of improving personal finances, allowing to optimize the quality of life of the users of our platform.
                    </p>
                </div>
                <div class="main-title">
                    <h1 class="fade sm-title"><b>Omage Platform</b></h1>
                    <h1 class="back-title"><b>PLATFORM</b></h1>
                </div>
                <div class=" col-12 buttons fade">
                    <div class="flowimage"><img src="omageflujo.png" alt=""></div>
                    <a href="#" onclick="downloadWhitePaper()">
                        <button type="button" class="btn btn-primary btn-lg bcolor" id="btn-wp">Download Omage Whitepaper</button>
                    </a>
                </div>
                <div class="col-12 info-list">
                    <ul class="list-group">
                        <li class="list-group-item fade" style="color: #E50000;">1) Inclusion in the financial system.</li>
                        <li class="list-group-item fade" style="color: #FF8D00;">2) OMAGE Visa debit card.</li>
                        <li class="list-group-item fade" style="color: #e8d903;">3) Possibility of saving in OMAGE and Ethereum.</li>
                        <li class="list-group-item fade" style="color: #008121;">4) Support in collective savings funds for medical purposes for trans and gender-diverse people.</li>
                        <li class="list-group-item fade" style="color: #004CFF;">5) To be able to send money to other countries.</li>
                        <li class="list-group-item fade" style="color: #760188;">6) Connection with the DeFi platform to promote crypto savings and crypto loans</li>
                    </ul>
                </div>
                <div class="main-title">
                    <h1 class="fade sm-title"><b>Omage Wallet</b></h1>
                    <h1 class="back-title"><b>WALLET</b></h1>
                </div>
                <br>
                <div class="col-md-6">
                    <ul class="list-group info-list">
                        <li class="list-group-item fade" style="color:#E50000;">Main summary</li>
                        <li class="list-group-item fade" style="color:#FF8D00;">Staking</li>
                        <li class="list-group-item fade" style="color:#760188;" >Request for <b>savings</b> with collective support</li>
                        <li class="list-group-item fade" style="color:#008121;">Connection with <strong>DeFi</strong> Platform</li>
                    </ul>
                </div>
                <div class="col-md-6 fade">
                    <div class="image"><img src="omage2.png" alt=""></div>
                </div>
                <div class="col-12 buttons fade">
                    <button type="button" class="btn btn-primary btn-lg bcolor" id="btn-apk">Download Omage Wallet</button>
                </div>
                <div class="col-12 fade">
                    <div class="box">
                       
                        <div class="text">
                            <h3 class="font-weight-bold">Omage Project Progress</h3>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="box fade">
                        <div class="percent">
                            <svg>
                                <circle cx="70" cy="70" r="70"></circle>
                                <circle class="animate" cx="70" cy="70" r="70"></circle> 
                            </svg>
                            <div class="number">
                                <h2>65<span>%</span></h2>
                            </div>
                        </div>
                        <div class="text">
                            <h3 class="font-weight-bold">Omage Project Progress</h3>
                        </div>
                    </div>
                </div>
                <div class="main-title">
                    <h1 class="fade sm-title"><b>Help us with your donation!</b></h1>
                    <h1 class="back-title"><b>OMAGE</b></h1>
                </div>
                <div class="col-12 row description fade">
                    <div class="col-md-5 description-text imagelogo">
                        <p>We are supporting everyone in need in our ecosystem, help us spread the word and donate to Omage Project. Omage Project is LGBTQ+</p>
                        <img src="logo omage.png" alt="">
                    </div>
                    <div class="col-md-7 imageqr fade">
                        <h3 style="text-align: center;">Wallet:</h3>
                        <img class="" src="qrCode.jpg" alt="">
                        <p style="text-align: center;" class="walletid">0x46A321d27B3a1Eb47f0E935f0e39298cdB599F11</p>
                    </div>
                </div>
                <div class="main-title">
                    <h1 class="fade sm-title"><b>Buy Omage Token</b></h1>
                    <h1 class="back-title"><b>OMA</b></h1>
                </div>
                <div class="row description fade">
                    <div class="col-md-6 description-text">
                        <h3 style="font-size:25px;">Be part of our financial come out!</h3>
                        <a href="/buy-token"><button  type="button" class="btn btn-primary btn-lg bcolor" id="">Buy Omage Token!</button></a>
                    </div>
                    <div class="col-md-6">
                        <div class="imagegraph"><img src="Grafica.jpg" alt=""></div>             
                    </div>
                </div>
            </div>
            </div>
        </div>
        



        <!--POP UPS-->
        <div class="overlay" onclick="cerrar()">
            <div class="popup" id="popup">
                <div style="margin-top: 40px;"></div>
                <span class="helper"></span><img src="imagenpopup.jpg">
            </div>
        </div>
        <!-- <div class="overlay" onclick="cerrar(1)" id="overlay" style="visibility: hidden;">
            <div class="popup" id="popup">
                <h1 style="text-align: center;">This page uses Cookies!</h1>
                <p style="text-align: center;">By remaining on this website <br> you agree to our use of cookies</p>
            </div>
        </div> -->
        <!--POP UPS-->

         <!-- Construct a Bootstrap layout -->
    <div class="container">
        <div class="row">
          <div class="col-md-12">
           <!-- <h1>Web3modal example for vanille JavaScript and HTML</h1>
  
            <p>No wallet connected. Connect wallet to show accounts and their ETH balances.</p>
  
            <div class="alert alert-danger" id="alert-error-https" style="display: none">
              You can run this example only over HTTPS connection.
            </div>
  
            <div id="prepare">
              <button class="btn btn-primary" id="btn-connect">
                Connect wallet
              </button>
            </div>-->
  
            <div id="connected" style="display: none">
  
              <button class="btn btn-primary" id="btn-disconnect">
                Disconnect wallet
              </button>
  
              <hr>
  
              <div id="network">
                <p>
                  <strong>Connected blockchain:</strong> <span id="network-name"></span>
                </p>
  
                <p>
                  <strong>Selected account:</strong> <span id="selected-account"></span>
                </p>
  
              </div>
  
              <hr>
  
              <h3>All account balances</h3>
  
              <table class="table table-listing">
                <thead>
                  <th>Address</th>
                  <th>ETH balance</th>
                </thead>
  
                <tbody id="accounts">
                </tbody>
              </table>
  
              <p>Please try to switch between different accounts in your wallet if your wallet supports this functonality.</p>
  
            </div>
  
            <!--<br>
  
            <div class="well">
              <p class="text-muted">See also the <a href="https://web3modal.com/">TypeScript and React example application</a></p>
            </div>-->
  
          </div>
        </div>
      </div>

      <!-- We use simple <template> templating for the example -->
      <div id="templates" style="display: none">
        <template id="template-balance">
          <tr>
            <th class="address"></th>
            <td class="balance"></td>
          </tr>
        </template>
      </div>
  
      <!--
  
        Use unpkg CDN to load all NPM packages to vanilla Javascript - read more at http://unpkg.com
  
        On your deployment, you properly either want to use a preprocessing tool like webpack
        to include these files, or extract NPM archives and manually host the files inside.
  
        TODO: Pin down all versions.
  
      -->
  
      <script type="text/javascript" src="https://unpkg.com/web3@1.2.11/dist/web3.min.js"></script>
      <script type="text/javascript" src="https://unpkg.com/web3modal@1.9.0/dist/index.js"></script>
      <script type="text/javascript" src="https://unpkg.com/evm-chains/lib/index.js"></script>
      <script type="text/javascript" src="https://unpkg.com/@walletconnect/web3-provider@1.2.1/dist/umd/index.min.js"></script>
      <script type="text/javascript" src="https://unpkg.com/fortmatic@2.0.6/dist/fortmatic.js"></script>

  
      <!-- This is our example code -->
      <script type="text/javascript" src="example.js"></script>
    </body>
    <footer class="bg-light text-center text-lg-start">
        <div class="container p-4 justify-content-center w-100 d-flex">
            <div class="row social-media-logo">
                <div class="col">
                    <a href="https://www.facebook.com/OmageProject">
                        <svg height="100%" width="50%" style="fill:currentColor;fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;color:#C92A53" version="1.1" viewBox="0 0 512 512" width="100%" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M255.022,511.998l0.229,0.001l-0.079,0l-0.15,-0.001Zm1.806,0.001l-0.079,0l0.229,-0.001l-0.15,0.001Zm-2.588,-0.005l0.247,0.001l-0.142,0l-0.105,-0.001Zm3.415,0.001l-0.142,0l0.247,-0.001l-0.105,0.001Zm-4.169,-0.007l0.165,0.001l-0.132,-0.001l-0.033,0Zm4.995,0l-0.132,0.001l0.165,-0.001l-0.033,0Zm0.826,-0.009l-0.058,0.001l0.223,-0.003l-0.165,0.002Zm-6.779,-0.002l0.223,0.003l-0.058,-0.001l-0.165,-0.002Zm7.604,-0.01l-0.135,0.002l0.275,-0.004l-0.14,0.002Zm-8.404,-0.002l0.275,0.004l-0.135,-0.002l-0.14,-0.002Zm9.228,-0.012l-0.182,0.003l0.254,-0.005l-0.072,0.002Zm-9.984,-0.002l0.254,0.005l-0.182,-0.003l-0.072,-0.002Zm-0.937,-0.019l0.225,0.005l-0.04,-0.001l-0.185,-0.004Zm11.745,0.004l-0.04,0.001l0.225,-0.005l-0.185,0.004Zm-12.567,-0.025l0.309,0.008l-0.125,-0.003l-0.184,-0.005Zm13.39,0.005l-0.125,0.003l0.309,-0.008l-0.184,0.005Zm0.823,-0.022l-0.201,0.006l0.316,-0.009l-0.115,0.003Zm-14.967,-0.003l0.316,0.009l-0.201,-0.006l-0.115,-0.003Zm-0.72,-0.022l0.225,0.007l-0.212,-0.007l-0.194,-0.006l0.181,0.006Zm16.509,0l-0.212,0.007l0.225,-0.007l0.181,-0.006l-0.194,0.006Zm0.821,-0.027l-0.112,0.004l0.345,-0.012l-0.233,0.008Zm-18.371,-0.008l0.345,0.012l-0.112,-0.004l-0.233,-0.008Zm-0.749,-0.028l0.362,0.013l-0.201,-0.007l-0.161,-0.006Zm19.941,0.006l-0.201,0.007l0.362,-0.013l-0.161,0.006Zm-20.676,-0.036l0.354,0.015l-0.277,-0.011l-0.077,-0.004Zm21.495,0.004l-0.277,0.011l0.354,-0.015l-0.077,0.004Zm-22.525,-0.049l0.38,0.017l-0.093,-0.003l-0.287,-0.014Zm23.345,0.014l-0.093,0.003l0.38,-0.017l-0.287,0.014Zm-24.084,-0.048l0.394,0.018l-0.186,-0.008l-0.208,-0.01Zm24.902,0.01l-0.186,0.008l0.394,-0.018l-0.208,0.01Zm-25.63,-0.047l0.397,0.02l-0.279,-0.013l-0.118,-0.007Zm26.448,0.007l-0.279,0.013l0.397,-0.02l-0.118,0.007Zm0.818,-0.043l-0.362,0.019l0.321,-0.017l0.378,-0.021l-0.337,0.019Zm-27.925,0.002l0.321,0.017l-0.362,-0.019l-0.337,-0.019l0.378,0.021Zm28.741,-0.048l-0.16,0.009l0.406,-0.023l-0.246,0.014Zm-29.844,-0.014l0.406,0.023l-0.16,-0.009l-0.246,-0.014Zm-0.722,-0.043l0.405,0.024l-0.253,-0.014l-0.152,-0.01Zm31.382,0.01l-0.253,0.014l0.405,-0.024l-0.152,0.01Zm-32.071,-0.053l0.365,0.023l-0.34,-0.021l-0.342,-0.022l0.317,0.02Zm32.887,0.002l-0.34,0.021l0.365,-0.023l0.317,-0.02l-0.342,0.022Zm0.814,-0.053l-0.122,0.008l0.387,-0.026l-0.265,0.018Zm-34.755,-0.018l0.387,0.026l-0.122,-0.008l-0.265,-0.018Zm-0.721,-0.05l0.38,0.027l-0.208,-0.014l-0.172,-0.013Zm36.29,0.013l-0.208,0.014l0.38,-0.027l-0.172,0.013Zm-37.009,-0.064l0.349,0.025l-0.271,-0.019l-0.078,-0.006Zm37.822,0.006l-0.271,0.019l0.349,-0.025l-0.078,0.006Zm-38.789,-0.079l0.306,0.023l-0.074,-0.005l-0.232,-0.018Zm39.602,0.018l-0.074,0.005l0.306,-0.023l-0.232,0.018Zm0.811,-0.063l-0.146,0.011l0.311,-0.025l-0.165,0.014Zm-41.157,-0.014l0.311,0.025l-0.146,-0.011l-0.165,-0.014Zm-0.725,-0.059l0.264,0.022l-0.186,-0.015l-0.078,-0.007Zm42.694,0.007l-0.186,0.015l0.264,-0.022l-0.078,0.007Zm-43.492,-0.074l0.079,0.007l-0.013,-0.001l-0.066,-0.006Zm44.302,0.006l-0.013,0.001l0.079,-0.007l-0.066,0.006Zm0.81,-0.071l-0.072,0.006l0.181,-0.016l-0.109,0.01Zm-45.965,-0.01l0.181,0.016l-0.072,-0.006l-0.109,-0.01Zm-0.75,-0.068l0.135,0.013l-0.084,-0.008l-0.051,-0.005Zm47.523,0.005l-0.084,0.008l0.135,-0.013l-0.051,0.005Zm-63.736,-2.025c-122.319,-19.226 -216,-125.203 -216,-252.887c0,-141.29 114.71,-256 256,-256c141.29,0 256,114.71 256,256c0,127.684 -93.681,233.661 -216,252.887l0,-178.887l59.65,0l11.35,-74l-71,0l0,-48.021c0,-20.245 9.918,-39.979 41.719,-39.979l32.281,0l0,-63c0,0 -29.296,-5 -57.305,-5c-58.476,0 -96.695,35.44 -96.695,99.6l0,56.4l-65,0l0,74l65,0l0,178.887Z"/></svg>
                    </a>
                </div>
                <div class="col">
                    <a href="https://twitter.com/OmageProject">
                        <svg height="100%" width="50%" style="fill:currentColor;fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;color:#C92A53" version="1.1" viewBox="0 0 512 512" width="100%" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M256,0c141.29,0 256,114.71 256,256c0,141.29 -114.71,256 -256,256c-141.29,0 -256,-114.71 -256,-256c0,-141.29 114.71,-256 256,-256Zm-45.091,392.158c113.283,0 175.224,-93.87 175.224,-175.223c0,-2.682 0,-5.364 -0.128,-7.919c12.005,-8.684 22.478,-19.54 30.779,-31.928c-10.983,4.853 -22.861,8.174 -35.377,9.706c12.772,-7.663 22.478,-19.668 27.076,-34.099c-11.878,7.024 -25.032,12.132 -39.081,14.942c-11.239,-12.005 -27.203,-19.412 -44.955,-19.412c-33.972,0 -61.558,27.586 -61.558,61.558c0,4.853 0.511,9.578 1.66,14.048c-51.213,-2.554 -96.552,-27.075 -126.947,-64.368c-5.237,9.068 -8.302,19.668 -8.302,30.907c0,21.328 10.856,40.23 27.459,51.213c-10.09,-0.255 -19.541,-3.065 -27.842,-7.662l0,0.766c0,29.885 21.2,54.661 49.425,60.409c-5.108,1.404 -10.6,2.171 -16.219,2.171c-3.96,0 -7.791,-0.383 -11.622,-1.15c7.79,24.521 30.523,42.274 57.471,42.784c-21.073,16.476 -47.637,26.31 -76.501,26.31c-4.981,0 -9.834,-0.256 -14.687,-0.894c26.948,17.624 59.387,27.841 94.125,27.841Z"/></svg>
                    </a>
                </div>
                <div class="col">
                    <a href="https://omageprojectdevs.medium.com/">
                        <svg height="100%" width="50%" style="fill:currentColor;fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;color:#C92A53" version="1.1" viewBox="0 0 512 512" width="100%" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M256,0c141.29,0 256,114.71 256,256c0,141.29 -114.71,256 -256,256c-141.29,0 -256,-114.71 -256,-256c0,-141.29 114.71,-256 256,-256Zm149.439,390.919l0,-5.04l-23.389,-22.963c-2.065,-1.573 -3.089,-4.161 -2.661,-6.721l0,-168.719c-0.428,-2.561 0.596,-5.148 2.661,-6.722l23.95,-22.962l0,-5.041l-82.912,0l-59.105,147.438l-67.227,-147.438l-86.975,0l0,5.041l28.012,33.744c2.751,2.478 4.154,6.119 3.781,9.802l0,132.595c0.815,4.782 -0.692,9.669 -4.06,13.161l-31.514,38.224l0,5.04l89.356,0l0,-5.04l-31.513,-38.224c-3.394,-3.485 -4.995,-8.34 -4.342,-13.161l0,-114.673l78.433,171.098l9.103,0l67.367,-171.098l0,136.376c0,3.639 0,4.34 -2.382,6.719l-24.229,23.524l0,5.04l117.646,0Z"/></svg>
                    </a>
                </div>
                <div class="col">
                   <!--  <a href="https://t.me/omageproject_info">-->
                        <svg width="50%" enable-background="new 0 0 512 512" id="Layer_1" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><circle cx="256" cy="256" fill="#C92A53" id="ellipse" r="256"/><path d="M246.4,332.1c-12.3,11.9-24.4,23.7-36.5,35.5c-4.2,4.1-8.9,6.4-15,6.1c-4.1-0.2-6.4-2-7.7-5.9  c-9.2-28.6-18.6-57.2-27.8-85.9c-0.9-2.8-2.2-4.1-5-5c-21.7-6.6-43.5-13.4-65.1-20.3c-3.3-1.1-6.7-2.4-9.6-4.4  c-4.5-3-5.1-7.9-1.1-11.5c3.7-3.3,8.1-6.1,12.7-7.9c26.6-10.5,53.3-20.7,80-31c67.7-26.1,135.4-52.3,203.1-78.4  c12.9-5,22.8,2,21.4,16c-0.9,8.9-3.2,17.7-5,26.5c-14.7,69.4-29.4,138.9-44.2,208.3c-3.5,16.5-15.1,20.8-28.6,10.8  c-22.7-16.7-45.4-33.5-68.1-50.3C248.8,333.8,247.7,333,246.4,332.1z M195.4,353.2c0.3-0.1,0.5-0.1,0.8-0.2c0.1-0.7,0.3-1.3,0.4-1.9  c1.5-15.7,3-31.5,4.3-47.2c0.3-3.5,1.5-6,4.1-8.4c20.9-18.7,41.8-37.6,62.6-56.4c23.1-20.8,46.2-41.6,69.2-62.5c1.4-1.3,2-3.5,3-5.3  c-2.2-0.2-4.5-1.1-6.5-0.6c-2.7,0.7-5.2,2.3-7.6,3.8c-50.9,32.1-101.9,64.2-152.8,96.3c-2.9,1.8-3.4,3.3-2.3,6.5  c3.8,10.8,7.2,21.7,10.7,32.6C186,324.3,190.7,338.8,195.4,353.2z" fill="#FFFFFF" id="logo"/></svg>
                    <!-- </a> -->
                </div>
                <div class="col">
                    <a href="https://github.com/OmageProject">
                        <svg width="50%" enable-background="new 0 0 512 512" id="Layer_1" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><circle cx="256" cy="256" fill="#C92A53" r="256"/><g><path d="M256,93.9c-89.5,0-162.1,72.6-162.1,162.1c0,70.5,45,130.4,107.8,152.8c0.3,0.1,1.4,0.5,1.7,0.6    c0.9,0.3,1.9,0.5,2.9,0.5c5.3,0,9.5-4.3,9.5-9.5c0-0.3,0-0.5,0-0.8l0,0c0-8.6,0-19.5,0-28.2c-10.3,2.1-25.9,4.1-34.4,0    c-11-5.3-16.6-12.1-21.9-25.5c-6.6-16.3-21.8-20.8-22.4-23.6c-0.6-2.9,16.1-7.2,24.7,2.7c8.6,9.9,17.3,29.7,35.8,27.8    c9.1-0.9,15-2.4,18.7-3.5c0.7-6.4,2.8-14.3,8.1-19.9c-43.5-7.2-72.5-30.6-72.5-76.5c0-20.9,6-37.1,16.6-49.2    c-1.8-10-4.8-33.2,3.2-41.3c0,0,11.3-7,43.7,15.8c12.1-2.8,25.5-4.2,39.8-4.2l0,0c0.3,0,0.5,0,0.8,0c0.3,0,0.5,0,0.8,0l0,0    c14.4,0.1,27.8,1.5,39.8,4.2c32.4-22.8,43.7-15.8,43.7-15.8c8,8.2,5,31.4,3.2,41.3c10.6,12.2,16.6,28.4,16.6,49.2    c0,45.9-28.9,69.3-72.5,76.5c8.3,8.7,8.6,22.8,8.6,28.6c0,5.5,0,42.3,0,42.5c0,5.3,4.3,9.5,9.5,9.5c0.8,0,1.5-0.1,2.3-0.3    c0.2,0,0.8-0.2,1-0.3c63.5-22,109.1-82.3,109.1-153.3C418.1,166.4,345.5,93.9,256,93.9z" fill="#FFFFFF"/></g></g></svg>
                    </a>
                </div>
          </div>
        </div>
        <!-- Copyright -->
        <div class="p-3" style="background-color: #C92A53; color:white">
          © 2021 Copyright:
          <a href="#">OmageProject</a>
        </div>
        <!-- Copyright -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js"></script>
        <script src="code.js"></script>
      </footer>
</html>